#!include:.gitignore

.git
events
conversation_assistant/test

.gitignore
.pylintrc
CHANGELOG.md
README.md
azure-pipelines-setup.yml
azure-pipelines.yml
conftest.py
cov.xml
pyproject.toml
pytest.ini
setup.py
test_main.py
