# OS
**/.DS_Store

# IDE
**/.vscode/**

# Python
**/.venv/**
**/__pycache__/**
**/.mypy_cache/**
**/.pytest_cache/**
**/build/**
**/coverage/**
**/dist/**
**/*.pyc
.coverage
.env
cov.xml
requirements.txt

# GCP
gha-creds-*.json
gcp-credentials*.json

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
