**/.venv/**
**/__pycache__/**
**/.mypy_cache/**
**/.pytest_cache/**
**/*.egg-info/**
**/.vscode/**
**/.serverless/**
**/build/**
**/coverage/**
**/dist/**
**/node_modules/**
**/*.pyc

.coverage
.env
cov.xml
requirements.txt
