# IDE
**/.vscode/**

# Python
**/.venv/**
**/__pycache__/**
**/.mypy_cache/**
**/.pytest_cache/**
**/coverage/**
**/dist/**
**/*.pyc
.coverage
.env
cov.xml
requirements.txt

# GCP
gha-creds-*.json
google-application-credentials*.json

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
