[[source]]
name = "pypi"
url = "https://${PYPI_USERNAME}:${PYPI_PASSWORD}@pypi.org/simple/"
verify_ssl = true

[packages]
jsonschema = "==4.4.0" 
mypy = "==0.950" 
openai = "==0.18.1" 
python-dotenv = "==0.20.0" 
tomli = "==1.2.3" # just for conflict resolution

[dev-packages]
black = "==22.3.0"
isort = "==5.10.1"
pylint = "==2.13.7"
pytest = "==7.1.2"
pytest-cov = "==3.0.0"
pytest-mock = "==3.7.0"
python-semantic-release = "==7.28.1"
types-jsonschema = "==4.4.4"

[scripts]
check-types = "python -m mypy conversation_assistant handler.py"
format = "bash -c 'python -m black conversation_assistant && python -m isort conversation_assistant'"
install = "pipenv install --dev"
lint = "python -m pylint ./conversation_assistant ./handler.py"
publish = "semantic-release --verbosity=DEBUG publish"
test = "python -m pytest conversation_assistant --cov=./conversation_assistant --cov-fail-under=90 --cov-branch --cov-report xml:cov.xml"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
