[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
openai = "==0.11.5"

[dev-packages]
black = "==21.12b0"
isort = "==5.10.1"
mypy = "==0.930"
pylint = "==2.12.2"
pytest = "==6.2.5"
pytest-cov = "==3.0.0"
python-semantic-release = "==7.23.0"

[scripts]
check-types = "mypy ./conversation_assistant"
clean = "rm -rf .serverless .venv build conversation_assistant.egg-info dist .coverage"
format = "black ./conversation_assistant"
install-dev = "pipenv install --dev"
install-prod = "pipenv install"
lint = "pylint ./conversation_assistant"
prepublish = "python setup.py sdist bdist_wheel"
publish = "semantic-release --verbosity=DEBUG publish"
sort-imports = "isort ./conversation_assistant"
start = "python ./main.py"
test = "pytest ./conversation_assistant --cov=./conversation_assistant --cov-fail-under=90 --cov-branch -vv"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
