[packages]
Jinja2 = "==3.1.5"
functions-framework = "==3.1.0"
google-cloud-translate = "==3.19.0"
jsonschema = "==4.23.0"
mypy = "==1.14.1"
numpy = "==2.0.2"
openai = "==1.58.1"
six = "==1.17.0"

[dev-packages]
black = "==24.10.0"
flask = "==3.1.0"
isort = "==5.13.2"
pylint = "==3.3.3"
pytest = "==8.3.4"
pytest-cov = "==6.0.0"
pytest-mock = "==3.14.0"
types-jsonschema = "==4.23.0.20241208"
types-six = "==1.17.0.20241205"
typing_extensions = "==4.12.2"

[scripts]
check-types = "python -m mypy src e2e main.py"
export-requirements = "pipenv requirements"
format = "bash -c 'python -m black src e2e main.py && python -m isort src e2e main.py'"
install-ci = "pipenv install --dev --deploy"
install-dev = "pipenv install --dev"
install-prod = "pipenv install --deploy"
lint = "python -m pylint src e2e main.py"
start = "python -m flask run --port 8081"
test = "python -m pytest src --cov=./src --cov-fail-under=90 --cov-branch --cov-report xml:cov.xml"
teste2e = "python -m pytest e2e"

[requires]
python_version = "3.10"
